<h1> Login </h1>

<%= form_with(scope: :user, url: login_path)  do |f|%>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit "Login", class: "btn btn-outline-primary m-2"%>
<% end %>
