

<% if @boat %>
<h1><%= "Invoices For The #{@boat.name}" %></h1>
<p><%=link_to "Add New Invoice For The #{@boat.name}", new_boat_invoice_path, class: "btn btn-outline-warning m-2"%></p>
<%else%>
<h1>Invoices </h1>
<% end %>
<ul>
<% if @boat %>
    <% @invoices.each do |x| %>
        <% if x.paid %>
        <li><%= link_to "Invoice#: #{x.number} - #{x.boat.name} - PAID", boat_invoice_path(@boat, x), class: "btn btn-outline-success m-2"%></li>
        <%else%>
        <li><%= link_to "Invoice#: #{x.number} - #{x.boat.name} - OUTSTANDING", boat_invoice_path(@boat, x), class: "btn btn-outline-danger m-2"%></li>
        <%end%>
    <% end %>
    <%else%>
    <% @invoices.each do |x| %>
        <% if x.paid %>
        <li><%= link_to "Invoice#: #{x.number} - #{x.boat.name} - PAID", invoice_path(x), class: "btn btn-outline-success m-2"%></li>
        <%else%>
        <li><%= link_to "Invoice#: #{x.number} - #{x.boat.name} - OUTSTANDING", invoice_path(x), class: "btn btn-outline-danger m-2"%></li>
        <%end%>
    <% end %>
    <% end %>
</ul>