<div class="a">
<p> <%= "Ticket Number: " %><b><%="#{@fish_ticket.ticket_number}"%></b> </p>
<p> <%= "Date: "%> <b><%="#{@fish_ticket.date.strftime("%B %d, %Y")}" %></b> </p>
<p> <%= "Chum Pounds: "%> <b><%="#{@fish_ticket.chum_pounds}" %></b> </p>
<p> <%= "Sockeye Pounds: "%> <b><%="#{@fish_ticket.sockeye_pounds}" %></b> </p>
<p> <%= "Coho Pounds: "%> <b><%="#{@fish_ticket.coho_pounds}" %></b> </p>
<p> <%= "Humpy Pounds: "%> <b><%="#{@fish_ticket.humpy_pounds}" %></b> </p>
<p> <%= "King Pounds: "%> <b><%="#{@fish_ticket.king_pounds}" %></b> </p>
<p> <%= "Tender: "%> <b><%="#{@fish_ticket.tender.name}" %></b> </p>
<p> <%= "Boat: "%> <b><%="#{@fish_ticket.boat.name}" %></b> </p>
<p> <%= "Processor: "%> <b><%="#{@fish_ticket.fish_processor.name}" %></b> </p>

</div>