<h1>Home Page</h1>
<h2>Total Pounds Purchased For Year</h2>
<h2> Chum <div class="c"><%= total_chum_pounds %></div></h2>
<h2> Sockeye <div class="c"><%= total_sockeye_pounds %></div></h2>
<h2> Coho <%= total_coho_pounds %></h2>
<h2> Humpy <%= total_humpy_pounds %></h2>
<h2> King <%= total_king_pounds %></h2>
<h2> Total <%= total_pounds %></h2>
<%= link_to 'TENDERS', tenders_path, class: "btn btn-outline-success m-2"%><br>

<%= link_to 'FISHING BOATS', boats_path, class: "btn btn-outline-success m-2"%><br>

<%= link_to 'FISH TICKETS', fish_tickets_path, class: "btn btn-outline-success m-2"%><br>

