<h1>Home Page</h1>
<h2>Total Pounds Purchased For Year</h2>
<h2> <div class="c">Chum <%= total_chum_pounds %></div></h2>
<h2> <div class="c">Sockeye <%= total_sockeye_pounds %></div></h2>
<h2> <div class="c">Coho <%= total_coho_pounds %></div></h2>
<h2> <div class="c">Humpy <%= total_humpy_pounds %></div></h2>
<h2> <div class="c">King <%= total_king_pounds %></div></h2>
<h2> <div class="c">Total <%= total_pounds %></div></h2>


