<h1><%=@boat.name%> <%= link_to "EDIT", edit_boat_path(@boat), class: "btn btn-outline-warning btn-sm m-1" %><%= link_to "DELETE", boat_path(@boat), method: "delete", class: "btn btn-outline-danger btn-sm m-1" %><%= link_to 'FISHING BOATS', boats_path, class: "btn btn-outline-dark btn-sm m-1"%></h1>
<p class="mx-4"><%= "Captain: #{@boat.captain}" %></p>
<p class="mx-4"><%= "Home Port: #{@boat.home_port}" %></p>
<p><%= link_to "All Fish Tickets", boat_fish_tickets_path(@boat), class: "btn btn-outline-dark btn-sm m-1" %></p>
