<!DOCTYPE html>
<html>
  <head>
    <title>FishProcessing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= flash[:error]%>
  <%= flash[:message]%><br>

   <% if logged_in? %> 

  <%= link_to 'LOGOUT', logout_path, class: 'nav-link active', method: 'delete' %><br>
  <% else %>
  <%= link_to 'Login With Username', login_path(current_user), class: 'nav-link active'%><br>
  <%= link_to 'Login With Google', "/auth/google_oauth2", class: 'nav-link active', method: "post" %>
  <% end %>  
  <%= yield %>
  </body>
</html>
